# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
# Integration test requirements for L0_contrib_vllm
# These are in addition to the flextensor[test] dependencies
# Note: Use compatible release (~=) for vllm to allow the container's NVIDIA-custom
# build (e.g. 0.11.1+nv25.12) to satisfy the requirement without replacement.
# An exact pin (==0.11.2) would force uv to pull from PyPI and cascade into replacing
# container packages (torch, flashinfer, triton), causing version mismatches.

vllm~=0.11.1
requests~=2.32
