# SPDX-FileCopyrightText: Copyright (c) 2025-2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
EDITOR="cursor --wait"
GIT_EDITOR="cursor --wait"

## pudb setup
PYTHONBREAKPOINT="pudb.set_trace"
# PYTHONBREAKPOINT="pudb.remote.set_trace"
# PUDB_TERM_SIZE=320x80
# PUDB_RDB_REVERSE=1

## HF setup
# HF_HOME=./.huggingface
# HF_TOKEN=...

## gh setup
GITHUB_TOKEN=
