# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
# Integration test requirements for L0_torch_compile
# These are in addition to the flex-tensor[test] dependencies

numpy~=2.0
