# SPDX-FileCopyrightText: Copyright (c) 2025 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
# Integration test requirements for L0_torch_trt_compile
# These are in addition to the FlexTensor test dependency group
# torch-tensorrt is pre-installed in nvcr.io/nvidia/pytorch containers

numpy~=2.0
