# SPDX-FileCopyrightText: Copyright (c) 2026 NVIDIA CORPORATION & AFFILIATES. All rights reserved.
# SPDX-License-Identifier: Apache-2.0
# The vLLM version is pinned by .dockerimages; keep requirements to client-side helpers.
requests~=2.32
